<html>
  <head>
    <%- include('./partials/head') %>

    <title>Home</title>
  </head>

  <body>
    <%- include('./partials/header') %>

    <main class="home">
      <div class="slider">
        <div class="slider--inner">
          <img src="images/carrusel/butterfly.jpg" alt="Mariposa1" />
          <img src="images/carrusel/butterfly2.jpg" alt="Mariposa1" />
          <img src="images/carrusel/butterfly3.jpg" alt="Mariposa1" />
          <img src="images/carrusel/butterfly.jpg" alt="Mariposa1" />
          <img src="images/carrusel/butterfly2.jpg" alt="Mariposa1" />
          <img src="images/carrusel/butterfly3.jpg" alt="Mariposa1" />
        </div>
      </div>
      <div class="banner">
        <img src="images/design/banner.png" alt="" />
      </div>

      <div class="contenedorgeneral">
        <!--BARRA OFERTAS-->
        <div class="contenedorbarra">
          <div class="linea"></div>
          <p class="oferta">OFERTAS</p>
          <div class="linea"></div>
        </div>
      </div>

      <section class="contenedor-productos">
        <% ofertas.forEach(producto=>{%>
        <article class="producto-tarjeta columna">
          <div class="producto-detalles">
            <img src="/images/products/<%= producto.imagen[0].nombre %>" /> 
            <p class="producto-precio">$<%= producto.precio %></p>
            <h4 class="titulo"><%= producto.nombre %></h4>
            <button class="producto-agregar" id="producto-agregar">
              Agregar
            </button>
          </div>
        </article>
        <% }) %>
      </section>
    </main>

    <%- include('./partials/footer') %>
    <script src="js/inicio.js"></script>
    
  </body>
</html>
