
<html>
    <head>
        <%- include('./partials/head')  %>      
        
        <title>Home</title>
    </head>
  <body>
    <%- include('./partials/header')  %>
       
    <!-- <main class="home">-->
       
     

    <main class="home">
      <div class="slider">
        
        <div class="slider--inner">        
          <img src="images/carrusel/butterfly.jpg" alt="Mariposa1">
          <img src="images/carrusel/butterfly2.jpg" alt="Mariposa1">
          <img src="images/carrusel/butterfly3.jpg" alt="Mariposa1">
          <img src="images/carrusel/butterfly.jpg" alt="Mariposa1">
          <img src="images/carrusel/butterfly2.jpg" alt="Mariposa1">
          <img src="images/carrusel/butterfly3.jpg" alt="Mariposa1">
        </div>      
      </div> 
      <div class="banner">
      <img  src="images/design/banner.png" alt="">
    </div>

    <div class="contenedorgeneral">
      <!--BARRA OFERTAS-->
      <div class=" contenedorbarra ">
          <div class="linea"></div>       
          <p class="oferta">OFERTAS</p>
          <div class="linea"></div>
      </div>
      <!--<img  class="linea" src="images/design/barra.png" alt="">
      <img class="linea" src="images/design/barra.png" alt=""> -->
      <!-- Ofertas-->
      <div class="contenedor">
        <% ofertas.forEach((producto) => { %>
            <div class="columna tarjeta">
              <img src="images/products/<%= producto.imagen ? producto.imagen[0].nombre : "images/products/no-image-icon.png" %>" alt="<%= producto.nombre %>">
              <div class="producto-detalles">
                <h3><%= producto.nombre %></h3>
                <p><%= producto.precio %></p>
                <button class="buttonroducto-detalles producto-agregar">AGREGAR</p>
            </div>
        <% }) %>
      </div>


      <!--BARRA NUEVOS INGRESOS-->
      <div class=" contenedorbarra ">
        <div class="linea"></div>       
        <p class="oferta">Nuevos Ingresos</p>
        <div class="linea"></div>
      </div>

      <!-- NUEVOS INGRESOS-->
      <div class="contenedor">
        <% nuevos.forEach(producto => { %>
          <div class="columna tarjeta">
            <img src="images/products/<%= producto.imagen ? producto.imagen[0].nombre : "images/products/no-image-icon.png" %>" alt="<%= producto.nombre %>">
            <div class="producto-detalles">
              <h3><%= producto.nombre %></h3>
              <p><%= producto.precio %></p>
              <button class="buttonroducto-detalles producto-agregar">AGREGAR</p>
          </div>
        <% }) %>
      </div>
      
    </div>
  </div>
  <br>
</main>
           
   <!-- </main>-->
    <%- include('./partials/footer')  %>
    <script src="js/inicio.js"></script>
  </body>
</html>