<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../../../css/crear.css">
        <title>Editando <%= producto.nombre %></title>
</head>

<body>

    <%- include('../partials/header') %>

        <main class="crear">
            <section class="product_container">
                <h1>Editar Producto</h1>

                <form class="todo_container" action="/admin/edit/" method="POST"><!-- proporcionar el id del producto que se quiere editar -->

                    <section class="visual_container">
                        <!-- ////imagen de archivo//// -->
                        <img src="/img/productos/" alt=""><!-- imagen del producto -->

                        <!-- /////titulo de producto//// -->
                        <h2>
                            Editando <%= producto.nombre  %> <i class="fas fa-box"></i>
                        </h2>

                        <!-- /////Descripcion de Producto///// -->
                        <div class="selec info_des_container">
                            <p>Ingresá una descripción</p>
                            <textarea name="descripcion" id=""><!-- Acá va la descripcion del producto que queremos editar --></textarea>
                        </div>
                    </section>


                    
                        <!-- /////Nombre de Producto///// -->
                        <div class="selec info_titulo_container">
                            <p>Nombre de Producto</p>
                            <input type="text" name="nombre" value=""> <!-- value= debe traer el nombre del producto -->
                        </div>
                        
                        <!-- /////Precio de producto///// -->
                        <div class="selec info_precio_container">
                            <p>Precio $</p>
                            <input type="number" name="precio" value=""> <!-- value= debe traer el precio del producto -->
                        </div>

                        <!-- /////categoria de producto///// -->
                        <p>Categoría</p>
                        <div class="selec info_categoria_container">

                            <div class="Categoria1">
                                <div>
                                    <label for="Ofertas">Ofertas</label>
                                    <input class="m" name="categoria" id="Ofertas" type="checkbox" value="Ofertas"
                                        <% if(producto.categoria.includes("Ofertas") === true ){%>checked<%}%> >
                                </div>
                                    <!-- Si el producto en algunas de las categorías tiene "Ofertas" el checkbox pasa a estar en su estado checked, sino no hace nada -->
                                <div>
                                    <label for="Nuevos">Nuevos</label>
                                    <input class="m" name="categoria" id="Nuevos" type="checkbox" value="Nuevos">
                                </div>

                                <div>
                                    <label for="Accesorios">Accesorios</label>
                                    <input class="m" name="categoria" id="Accesorios" type="checkbox" value="Accesorios">
                                </div>
                            </div>

                            <div class="Categoria2">
                                <div>
                                    <label for="Arriba">Arriba</label>
                                    <input class="m" name="categoria" id="Arriba" type="checkbox" value="Arriba">
                                </div>

                                <div>
                                    <label for="Abajo">Abajo</label>
                                    <input class="m" name="categoria" id="Abajo" type="checkbox" value="Abajo">
                                </div>

                            </div>

                        </div>

                    </section>
                    <!-- ///botones//// -->
                    <section class="button_container">
                        <button class="boton" type="submit">Crear</button>
                        <button class="boton" type="reset">Borrar</button>
                    </section>
                    
                    

                </form>
            </section>
            <section class="delete_container">
                        <form action="" method="POST">

                            <button type="submit">Eliminar producto</button>
                        </form>
                    </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>