<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')  %>
    <title>Registro</title>
</head>

<body>

    <%- include('../partials/header')  %> 

    <main class="main register">

        <h2>Registrarme</h2>

        <section>

            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <div class="cuenta">
                        <span>¿Ya tienes una cuenta?</span>
                        <a href="/users/login">Inicie sesión</a>

                    </div>

                    <div>
                        <label for="nombre">Nombre</label>
                        <div class="grupo_input">
                            <input type="text" id="nombre" class="inputs" placeholder="Ingresalo tal como figura en el documento" name="nombre" required value="<%= locals.old && old.nombre ? old.nombre : null %>"">
                            <i class="error fas fa-times hidden" id="errorNombre"></i>
                            <i class="check fas fa-check hidden" id="checkNombre"></i>
                        </div>
                        <% if (locals.errors && errors.nombre) { %>
                            <small class="errors"><%= errors.nombre.msg %> </small>
                        
                        <% } %>
                        <small class="frontNombre" id="smallsFront"></small>
                    </div>

                    <div>
                        <label for="apellido">Apellido</label>
                        <div class="grupo_input">
                            <input type="text" id="apellido" class="inputs" placeholder="Ingresalo tal como figura en el documento" name="apellido" required value=<%= locals.old && old.apellido ? old.apellido : null %> >
                            <i class="error fas fa-times hidden" id="errorApellido"></i>
                            <i class="check fas fa-check hidden" id="checkApellido"></i>
                        </div>
                        <% if (locals.errors && errors.apellido) { %>
                            <small class="errors"><%= errors.apellido.msg %> </small>
                        
                        <% } %>
                        <small class="frontApellido" id="smallsFront"></small>
                    </div>

                    <div>
                        <label for="email">E-mail</label>
                        <div class="grupo_input">
                            <input type="email" id="email" class="inputs" placeholder="Asegurate de tener acceso a este e-mail" name="email" required value=<%= locals.old && old.email ? old.email : null %>>
                            <i class="error fas fa-times hidden" id="errorEmail"></i>
                            <i class="check fas fa-check hidden" id="checkEmail"></i>
                        </div>
                        <% if (locals.errors && errors.email) { %>
                            <small class="errors"><%= errors.email.msg %> </small>
                        
                        <% } %>
                        <small class="frontEmail" id="smallsFront"></small>
                    </div>

                    <div>
                        <label for="fechaDeNac">Fecha de nacimiento</label>
                        <div class="grupo_input">
                            <input type="date" id="fechaDeNac" class="inputs" placeholder="DD/MM/YY" name="fechaDeNac" required value=<%= locals.old && old.fechaDeNac ? old.fechaDeNac : null %>>
                            <i class="error fas fa-times hidden" id="errorFechaDeNac"></i>
                            <i class="check fas fa-check hidden" id="checkFechaDeNac"></i>
                        </div>
                        <% if (locals.errors && errors.fechaDeNac) { %>
                            <small class="errors"><%= errors.fechaDeNac.msg %> </small>
                        
                        <% } %>
                        <small class="frontFecha" id="smallsFront"></small>
                    </div>

                    <div>
                        <label for="contraseña">Contraseña</label>
                        <div class="grupo_input">
                            <input type="password" id="contraseña" class="inputs" name="contraseña" required minlength="8">
                            <i class="error fas fa-times hidden" id="errorContraseña"></i>
                            <i class="check fas fa-check hidden" id="checkContraseña"></i>
                            <i class="ojitoAct fas fa-eye-slash hidden" id="ocultarContraseña"></i>
                            <i class="ojitoDes fas fa-eye hidden" id="verContraseña"></i>
                        </div>
                        <% if (locals.errors && errors.contraseña) { %>
                            <small class="errors"><%= errors.contraseña.msg %> </small>
                        
                        <% } %>
                        <small class="frontContraseña" id="smallsFront"></small>
                    </div>

                    <div>
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <div class="grupo_input">
                            <input type="text" id="nombreUsuario" class="inputs" placeholder="Elije un nombre de usuario (mínimo 8 caracteres)" name="nombreUsuario" required minlength="8">
                            <i class="error fas fa-times hidden" id="errorNombreUsuario"></i>
                            <i class="check fas fa-check hidden" id="checkNombreUsuario"></i>
                        </div>
                        <% if (locals.errors && errors.usuario) { %>
                            <small class="errors"><%= errors.usuario.msg %> </small>
                        
                        <% } %>
                        <small class="frontNombreUsuario" id="smallsFront"></small>
                    </div>

                <button type="submit" id="send">Crear Cuenta</button>

            </form>

        </section>

    </main>

    <%- include('../partials/footer')  %> 

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="../../../js/general.js"></script>
</html>