<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle producto</title>
    <link rel="stylesheet" href="css/detail.css">
</head>
<body>
  <main>   
    <h2>Productos</h2>
      <div class="slider-frame">
        <ul>
            <li class="li"> 
                <div><img src="images/products/producto1.jpg" alt=""></div>
                <div class="div">
                    <div  class="div2" ><h3>Producto 1</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2"><a href="cart.html" target="_blank">Añadir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto2.jpg" alt=""></div>
                <div class="div">
                    <div class="div2" ><h3>Producto 2</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">Añadir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto3.jpg" alt=""></div>
                <div class="div">
                    <div class="div2"><h3>Producto 3</h3></div>
                    <div class="div2"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">Añadir Carrito</a></div>
                </div>  
            </li>
            <li class="li"> 
                <div><img src="images/products/producto4.jpg" alt=""></div>
                <div class="div">
                    <div class="div2" ><h3>Producto 4</h3></div>
                    <div class="div2" ><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p></div> 
                    <div class="div2" ><a href="cart.html" target="_blank">Añadir Carrito</a></div>
                </div>  
            </li>   
        </ul>
     </div>
  </main>
</body>
</html>
=======
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Producto <%= producto.id %></title>
  </head>
  <%- include('../partials/header') %>
  <body class="body">
    <main class="detail">
      <div class="container-title">
        <img src="gothspooky/public/images/design/banner.png" alt="" />
      </div>

      <div class="container-general">
        <div class="container-title-principal" id="title-principal">
          <div>
            <img src="gothspooky/public/images/design/barra.png" alt="" />
          </div>
          <div>
            <h2>Detalle de producto</h2>
          </div>
          <div>
            <img src="gothspooky/public/images/design/barra.png" alt="" />
          </div>
        </div>
        <div class="container-detail-description">
          <div class="container-name">
            <h2><%= producto.nombre %></h2>
          </div>
          <div class="container-info-product">
            <div class="container-detail">
              <div class="conteCarrouselController">
                <a href="#itemCarrousel-1"
                  ><img
                    src="gothspooky/public/images/products/producto1.jpg"
                    alt=""
                /></a>
                <a href="#itemCarrousel-2"
                  ><img
                    src="gothspooky/public/images/products/producto2.jpg"
                    alt=""
                /></a>
                <a href="#itemCarrousel-3"
                  ><img
                    src="gothspooky/public/images/products/producto3.jpg"
                    alt=""
                /></a>
                <a href="#itemCarrousel-4"
                  ><img
                    src="gothspooky/public/images/products/producto4.jpg"
                    alt=""
                /></a>
              </div>
              <div class="carousel-container">
                <div class="carousel">
                  <div class="carousel-item" id="itemCarrousel-1">
                    <img
                      src="/images/products/<%= producto.imagen[0].nombre  %>"
                      alt="<%= producto.nombre %> imagen 1"
                    />
                  </div>
                  <div class="carousel-item" id="itemCarrousel-2">
                    <img
                      src="gothspooky/public/images/products/producto2.jpg"
                      alt="Imagen 2"
                    />
                  </div>
                  <div class="carousel-item" id="itemCarrousel-3">
                    <img
                      src="gothspooky/public/images/products/producto3.jpg"
                      alt="Imagen 3"
                    />
                  </div>
                  <div class="carousel-item" id="itemCarrousel-4">
                    <img
                      src="gothspooky/public/images/products/producto4.jpg" 
                      alt="Imagen 4"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="container-button">
              <button class="btn-add-to-cart">
                  Añadir al Carrito
              </button>
            </div>
          </div>
          <div class="container-description">
            <div
              class="container-title-principal"
              id="title-principal-descripcion"
            >
              <div>
                <img src="gothspooky/public/images/design/barra.png" alt="" />
              </div>
              <div>
                <h2>descripcion</h2>
              </div>
              <div>
                <img src="gothspooky/public/images/design/barra.png" alt="" />
              </div>
            </div>

            <div class="text-description">
              <p>
                <%= producto.descripcion %>
              </p>
            </div>
          </div>
        </div>

        <section class="container-related-products">
          <div class="container-title-principal" id="title-principal-related">
            <div>
              <img src="gothspooky/public/images/design/barra.png" alt="" />
            </div>
            <div>
              <h2>Productos Relacionados</h2>
            </div>
            <div>
              <img src="gothspooky/public/images/design/barra.png" alt="" />
            </div>
          </div>
          <div class="card-list-products">
            <div class="card">
              <div class="card-img">
                <a href="#gothspooky/src/views/products/detail.ejs">
                  <img
                    src="gothspooky/public/images/products/producto1.jpg"
                    alt="producto-2"
                  />
                </a>
              </div>
              <div class="info-card">
                <div class="text-product">
                  <a href="#gothspooky/src/views/products/detail.ejs">
                    <h3>Lorem Lorem ipsum</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <a href="gothspooky/src/views/products/detail.ejs#">
                  <img
                    src="gothspooky/public/images/products/producto2.jpg"
                    alt="producto-2"
                  />
                </a>
              </div>
              <div class="info-card">
                <div class="text-product">
                  <a href="#gothspooky/src/views/products/detail.ejs">
                    <h3>Lorem Lorem ipsum</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-img">
                <a href="#gothspooky/src/views/products/detail.ejs">
                  <img
                    src="gothspooky/public/images/products/producto3.jpg"
                    alt="producto-4"
                  />
                </a>
              </div>

              <div class="info-card">
                <div class="text-product">
                  <a href="#gothspooky/src/views/products/detail.ejs">
                    <h3>Lorem Lorem ipsum</h3>
                  </a>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-img">
                <a href="#gothspooky/src/views/products/detail.ejs"
                  ><img
                    src="gothspooky/public/images/products/producto4.jpg"
                    alt="producto-4"
                  />
                </a>
              </div>

              <div class="info-card">
                <div class="text-product">
                  <a href="#gothspooky/src/views/products/detail.ejs">
                    <h3>Lorem Lorem ipsum</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
>>>>>>> develop
