<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Producto <%= producto.id %></title>
  </head>
  <%- include('../partials/header') %>
  <body class="body">
    <main class="detail">
      <div class="product-box">
        <div class="product-title" style="background-color: #333; color: white; padding: 10px;">
          <h1><%= producto.nombre %></h1>
        </div>
        <div class="product-info">
          <div class="product-image" style="text-align: center;">
            <img src="/images/products/<%= producto.imagen[0].nombre %>" alt="">
          </div>
          <div class="product-description" style="text-align: center;"> 
            <h2>Detalle del Producto</h2>
            <p><%= producto.descripcion %></p>
            <h3>Precio: <%= producto.precio %></h3>
          </div>
          <div style="clear: both;"></div>
        </div>
        <div class="product-button" style="text-align: center;">
          <a href="/admin" class="btn-continue" style="background-color: #333; color: white; padding: 10px; text-decoration: none;">Continuar</a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
